.theme-light {
  --big-font-color: #2b3442;
  --bg-color-info-part: #fefefe;
  --medium-font-color: #4b6a9b;
  --bg-core: #f6f8ff;
}

.theme-dark {
  --big-font-color: #ffffff;
  --bg-color-info-part: #1e2a47;
  --medium-font-color: #ffffff;
  --bg-core: #141d2f;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f8ff;
}

.main {
  font-family: "Space Mono";
  font-style: normal;
  flex: 1;
  max-width: 700px;
}

.theme {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.theme-word {
  margin: 0;
  height: 39px;
  width: 128px;
  display: inline-block;
  color: #222731;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: var(--big-font-color);
}

.theme-color-dark {
  cursor: pointer;
  left: 652px;
  display: inline-block;
}

.theme-color-text-dark {
  margin: 0;
  color: #697c9a;
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  line-height: 19.25px;
  letter-spacing: 2.5px;
}

.theme-color-icon-moon {
  margin: 0;
  margin-left: 10px;
  margin-bottom: -3px;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url(/img/moon.svg);
  display: inline-block;
}

.theme-color-light {
  cursor: pointer;
  display: none;
}

.theme-color-text-light {
  margin: 0;
  color: #ffffff;
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  line-height: 19.25px;
  letter-spacing: 2.5px;
}

.theme-color-icon-sun {
  cursor: pointer;
  margin: 0;
  margin-left: 16px;
  margin-left: 10px;
  margin-bottom: -3px;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url(/img/sun.svg);
  display: inline-block;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fefefe;
  padding-right: 10px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 20px;
  margin-bottom: 24px;
  background-color: var(--bg-color-info-part);
}

.search-icon {
  margin: 0;
  width: 24px;
  height: 24px;
  margin-left: 32px;
  margin-top: 23px;
  margin-bottom: 22px;
  margin-right: 24px;
}

.search-text {
  cursor: pointer;
  outline: none;
  flex: 1;
  border: #fefefe;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--bg-color-info-part);
}

.search-text::-moz-placeholder {
  color: var(--medium-font-color);
}

.search-text:-ms-input-placeholder {
  color: var(--medium-font-color);
}

.search-text::placeholder {
  color: var(--medium-font-color);
}

.search-button {
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #0079ff;
  background-color: #0079ff;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.information {
  background-color: #fefefe;
  border-radius: 20px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  background-color: var(--bg-color-info-part);
}

.information-first-section {
  display: flex;
  justify-content: space-betweene;
}

.information-picture {
  margin-top: 48px;
  margin-left: 48px;
  margin-right: 37px;
}

.information-photo {
  border-radius: 50%;
}

.information-user-data {
  flex: 1;
}

.information-user-name {
  margin-top: 44px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: #2b3442;
  color: var(--big-font-color);
}

.information-user-email {
  margin-bottom: 20px;
  color: #0079ff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.information-user-profile {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 0.75;
  color: #4b6a9b;
  color: var(--medium-font-color);
}

.date {
  margin-top: 52px;
  margin-right: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #697c9a;
  color: var(--medium-font-color);
}

.information-data {
  margin-top: 32px;
  margin-right: 48px;
  margin-bottom: 48px;
  margin-left: 202px;
}

.information-follow {
  background-color: #f6f8ff;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #4b6a9b;
  margin-bottom: 37px;
  background-color: var(--bg-core);
}

.information-links {
  display: flex;
  justify-content: space-around;
}

.information-text {
  margin-bottom: 0px;
  color: var(--big-font-color);
}

.information-numbers {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  text-transform: uppercase;
  color: #2b3442;
  margin-top: 0;
  color: var(--big-font-color);
}

.information-links a {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4b6a9b;
  margin-left: 19px;
  margin-top: 19px;
  color: var(--medium-font-color);
}

.information-links-place {
  margin-bottom: 48px;
}/*# sourceMappingURL=style.css.map */